
/Samples/FuzzyChart/obj
/Samples/FuzzyChart/bin
/DebugBinaries
/Release
/_ReSharper.Fuzzy
/TestResults
/Solutions/Fuzzy/obj
/Solutions/Fuzzy/bin
/Solutions/Fuzzy/Fuzzy.csproj.user
/Solutions/Fuzzy/StyleCop.Cache
/Solutions/Fuzzy.Contracts/Fuzzy.Contracts.csproj.user
/Solutions/Fuzzy.Contracts/bin
/Solutions/Fuzzy.Contracts/obj
/Solutions/Fuzzy.Functions/Fuzzy.Functions.csproj.user
/Solutions/Fuzzy.Functions/bin
/Solutions/Fuzzy.Functions/obj
/Tests/Fuzzy.Functions.Tests/obj
/Tests/Fuzzy.Functions.Tests/bin
/Tests/Fuzzy.Tests/bin
/Tests/Fuzzy.Tests/obj
/Fuzzy.5.0.ReSharper.user
/Fuzzy.5.1.ReSharper.user
/Fuzzy.sln.docstates
/Samples/FuzzyChart/FuzzyChart.csproj.user